.modal-header__title {
    width: 400px;
    display: flex;
  }
  
  .modal-header {
    display: flex;
  }
  
  .modal-footer {
    display: flex;
    justify-content: space-between;
  }
  
  .create-todo__button {
    width: 100px;
  }

  .create-users__select {
    width: 200px;
  }