.task-tracker {
  padding-top: 15px;
}

.todos__wrapper {
  display: flex;
  justify-content: space-between;
}

.todo__item {
  border: 1px solid grey;
  width: 30%;
  border-radius: 5px;
  align-self: flex-start;
}

.todo__header-title {
  font-size: 22px;
}

.todo__header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(167, 222, 167);
  border-radius: 5px;
  padding: 5px;
}

.in-progress__header {
  background-color: rgb(181, 181, 214);
}

.done__header {
  background-color: lightblue;
}

.btn {
  width: 100%;
  padding: 10px;
  margin-top: auto;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}

.cards__wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

